.card-default{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-width: 255px;
    min-height: 125px;
    font-weight: 550;
    z-index: 100;
}

.card-modal{
    grid-column: 1 / -1;   
    justify-self: center; 
    width: 100%;           
    max-width: 550px; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    font-weight: 550;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

span {
    font-size: 1.25rem;
    color: #333333;
}