header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 70px;
}

header h1 {
  margin: 0.5rem 1rem;
}

.connect-button {
  position: absolute;
  right: 0;
  margin: 0.5rem 1rem;
  font-size: 1em;
  line-height: 1.1;
}

a {
  font-weight: 600 !important;
  color: red;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}