:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > div {
  width: 100%;
  min-height: 100vh;
  display: flex;    
  flex-direction: column;
}

.dashboard-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px;
  max-width: 100%;
  padding: 20px;
  margin-top: 80px;
  padding-top: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fafafa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
